<launch>

  <!-- set the tf prefix as necessary -->
  <arg name="ns" default="" />
  <arg name="tf_prefix" default="$(arg ns)" />
  <arg name="device_id" default="#1" />
  <param name="tf_prefix" value="$(arg tf_prefix)" />

  <!-- launch the auxiliary configuration (shared between h/w and simulation) -->
  <include file="$(find segbot_bringup)/launch/includes/auxiliary.segbot.launch">
    <arg name="tf_prefix" value="$(arg tf_prefix)" />
  </include>

  <!-- launch the joint state publisher to default values -->
  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" />

  <!-- launch the segway base -->
  <include file="$(find segbot_bringup)/launch/includes/segway_base.launch" />

</launch>
