<launch>

  <!-- set the tf prefix as necessary -->
  <arg name="tf_prefix" default="" />
  <arg name="device_id" default="#1" />
  <param name="tf_prefix" value="$(arg tf_prefix)" />

  <!-- launch the segway base -->
  <include file="$(find segbot_bringup)/launch/segway_base.launch">
    <arg name="robot_frame_id" value="$(arg tf_prefix)/base_footprint" />
    <arg name="odom_frame_id" value="$(arg tf_prefix)/odom" />
  </include>

  <!-- launch the kinect sensor in laserscan configuration -->

  <include file="$(find segbot_sensors)/launch/kinect/kinect.launch">
    <arg name="name" value="nav_kinect" />
    <arg name="tf_prefix" value="$(arg tf_prefix)" />
    <arg name="device_id" value="$(arg device_id)" />
    <arg name="depth_only" value="false" />
  </include>

  <!-- launch the hokuyo sensor -->
  <include file="$(find segbot_sensors)/launch/hokuyo/eth_hokuyo.launch">
    <arg name="name" value="nav_hokuyo" />
    <arg name="tf_prefix" value="$(arg tf_prefix)" />
    <arg name="publish_tf" value="false" /> <!-- already published by urdf -->
  </include>

  <!-- COMMON aux information -->
  <include file="$(find segbot_bringup)/launch/includes/auxiliary.segbot_v2.launch.xml">
    <arg name="tf_prefix" default="$(arg tf_prefix)" />
    <arg name="use_registered_topic" default="true" />
  </include>

  <!-- Arduino -->
  <include file="$(find segbot_sensors)/launch/arduino/arduino.launch">
    <arg name="port" value="/dev/arduino" />
    <arg name="tf_prefix" value="$(arg tf_prefix)" />
  </include>

  <!-- Diagnostics and battery monitor -->
  <include file="$(find segbot_sensors)/launch/diagnostic/diagnostics.launch"/>

</launch>
