<?xml version="1.0"?>
<launch>

  <!-- set the tf prefix as necessary -->
  <arg name="tf_prefix" default="" />
  <arg name="device_id" default="#1" />
  <arg name="rviz" default="true" />
  <arg name="gui" default="true" />
  <param name="tf_prefix" value="$(arg tf_prefix)" />

  <!-- launch the segway base -->
  <include file="$(find segbot_bringup)/launch/segway_base.launch">
    <arg name="robot_frame_id" value="$(arg tf_prefix)/base_footprint" />
    <arg name="odom_frame_id" value="$(arg tf_prefix)/odom" />
  </include>

  <!-- launch the kinect sensor in laserscan configuration -->

  <include file="$(find segbot_sensors)/launch/kinect/kinect.launch">
    <arg name="name" value="nav_kinect" />
    <arg name="tf_prefix" value="$(arg tf_prefix)" />
    <arg name="device_id" value="$(arg device_id)" />
    <arg name="depth_only" value="false" />
  </include>

  <!-- launch the hokuyo sensor -->
  <include file="$(find segbot_sensors)/launch/hokuyo/eth_hokuyo.launch">
    <arg name="name" value="nav_hokuyo" />
    <arg name="tf_prefix" value="$(arg tf_prefix)" />
    <arg name="publish_tf" value="false" /> <!-- already published by urdf -->
  </include>
 
  <!-- COMMON aux information -->
  <include file="$(find segbot_bringup)/launch/includes/auxiliary.segbot_v2.arm.launch.xml">
    <arg name="tf_prefix" default="$(arg tf_prefix)" /> 
    <arg name="use_registered_topic" default="true" />
  </include>
  
  <!-- Arduino -->
  <include file="$(find segbot_sensors)/launch/arduino/arduino.launch">
    <arg name="port" value="/dev/arduino" />
    <arg name="tf_prefix" value="$(arg tf_prefix)" />
  </include>
  
  <!-- the ARM -->
  <include file="$(find kinova_bringup)/launch/kinova_robot.launch">
      <arg name="kinova_robotType" value="m1n6s200" />
      <arg name="load_robot_description" value="false" />
  </include>

  <!-- launch Trajectory controllers -->

  <include file="$(find kinova_control)/launch/kinova_control.launch">
    <arg name="kinova_robotType" value="m1n6s200" />
    <arg name="publish_robot_state" value="false" />
  </include>

  <!-- launch MoveIt! -->
  <include file="$(find m1n6s200_segbot_moveit_config)/launch/m1n6s200_segbot_moveit_bringup.launch"/>
 
 
  <include file="$(find moveit_utils)/launch/moveit_utils.launch" />
   <!-- Diagnostics and battery monitor -->
  <include file="$(find segbot_sensors)/launch/diagnostic/diagnostics.launch" if="$(arg gui)"/>

</launch>
