<launch>

  <!-- set the tf prefix as necessary -->
  <arg name="tf_prefix" default="" />
  <arg name="device_id" default="#1" />
  <param name="tf_prefix" value="$(arg tf_prefix)" />

  <!-- Segway Base platform ROS Driver -->
  <node pkg="segway_ros" ns="segway" type="segway_driver" name="segway_driver" respawn="true" output="screen">
    <param name="platform" value="$(optenv SEGWAY_BASE_PLATFORM false)" />
  </node>

  <!-- Platform specific configuration -->
  <node name="dynamic_reconfigure_load" pkg="dynamic_reconfigure" type="dynparam"
    args="load /segway/segway_driver $(find segbot_bringup)/config/segway_110_params.yaml" />
        
  <!-- Our wrapper around Stanley's driver -->
  <node pkg="segbot_bringup" name="segbot_v3_controller" type="segbot_v3_controller">
    <param name="robot_frame_id" value="$(arg tf_prefix)/base_footprint" />
    <param name="odom_frame_id" value="$(arg tf_prefix)/odom" />
  </node>

  <!-- common aux nodes -->
  <include file="$(find segbot_bringup)/launch/includes/auxiliary.segbot_v3.launch.xml">
    <arg name="tf_prefix" value="$(arg tf_prefix)" />
    <arg name="launch_velodyne_nodelet_manager" value="false" />
  </include>

  <!-- Velodyne -->
  <include file="$(find segbot_sensors)/launch/velodyne/velodyne.launch">
    <arg name="tf_prefix" value="$(arg tf_prefix)" />
  </include>

  <!-- Diagnostics and battery monitor -->
  <include file="$(find segbot_sensors)/launch/diagnostic/diagnostics.launch"/>
  <param name="voltage_threshold" type="double" value="71.2" />

  <!-- Hokuyo laser -->
  <include file="$(find segbot_sensors)/launch/hokuyo/hokuyo.launch">
    <arg name="name" value="nav_hokuyo" />
    <arg name="tf_prefix" value="$(arg tf_prefix)" />
    <arg name="publish_tf" value="false" /> <!-- already published by urdf -->
    <arg name="topic" value="nav_hokuyo/scan" />
  </include>

</launch>
