<launch>

  <!-- set the tf prefix as necessary -->
  <arg name="tf_prefix" default="" />
  <arg name="device_id" default="#1" />
  <param name="tf_prefix" value="$(arg tf_prefix)" />

  <!-- launch the auxiliary configuration (shared between h/w and simulation) -->
  <include file="$(find segbot_bringup)/launch/includes/auxiliary.segbot_kinect_scan.launch.xml">
    <arg name="name" value="nav_kinect" />
    <arg name="tf_prefix" value="$(arg tf_prefix)" />
    <arg name="use_registered_topic" value="true" /> 
  </include>

  <!-- launch the segway base -->
  <include file="$(find segbot_bringup)/launch/segway_base.launch" />

  <!-- launch the kinect sensor in laserscan configuration -->
  <include file="$(find segbot_sensors)/launch/kinect/kinect.launch">
    <arg name="name" value="nav_kinect" />
    <arg name="tf_prefix" value="$(arg tf_prefix)" />
    <arg name="device_id" value="$(arg device_id)" />
  </include>

</launch>
