<launch>

  <!-- set the tf prefix as necessary -->
  <arg name="ns" default="" />
  <arg name="tf_prefix" default="$(arg ns)" />
  <arg name="device_id" default="#1" />
  <param name="tf_prefix" value="$(arg tf_prefix)" />

  <!-- launch the auxiliary configuration (shared between h/w and simulation) -->
  <include file="$(find segbot_bringup)/launch/includes/auxiliary.segbot_kinect_scan.launch">
    <arg name="name" value="nav_kinect" />
    <arg name="tf_prefix" value="$(arg tf_prefix)" />
    <arg name="launch_laserscan_manager" value="false" /> <!-- manager launched by kinect script -->
    <arg name="use_registered_topic" value="true" /> 
  </include>

  <!-- launch the joint state publisher to default values -->
  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" />

  <!-- launch the segway base -->
  <include file="$(find segbot_bringup)/launch/includes/segway_base.launch" />

  <!-- launch the kinect sensor in laserscan configuration -->
  <include file="$(find segbot_sensors)/launch/kinect/kinect.launch">
    <arg name="name" value="nav_kinect" />
    <arg name="ns" value="$(arg ns)" />
    <arg name="tf_prefix" value="$(arg tf_prefix)" />
    <arg name="device_id" value="$(arg device_id)" />
    <arg name="publish_tf" value="false" />
  </include>

</launch>
