<launch>

  <arg name="map_topic" default="/map" />
  <arg name="move_base_server" default="move_base" />
  <arg name="debug" default="false" />
  <arg if="$(arg debug)" name="prefix" value="gdb -ex run --args" />
  <arg unless="$(arg debug)" name="prefix" value="" />

  <arg name="global_frame" default="map" />
  <arg name="eband_rotational_threshold_multiplier" default="1.0" />
  <arg name="eband_disallow_hysteresis" default="false" />

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" launch-prefix="$(arg prefix)">
    <rosparam file="$(find segbot_navigation)/config/eband/move_base_params.yaml" command="load" />
    <rosparam file="$(find segbot_navigation)/config/eband/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find segbot_navigation)/config/eband/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find segbot_navigation)/config/eband/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find segbot_navigation)/config/eband/global_costmap_params.yaml" command="load" />

    <rosparam file="$(find segbot_navigation)/config/eband/eband_planner_params.yaml" command="load"/>
    <param name="base_local_planner" value="eband_local_planner/EBandPlannerROS" />

    <param name="global_costmap/map_topic" value="$(arg map_topic)"/>

    <param name="local_costmap/global_frame" value="$(arg global_frame)"/>
    <param name="global_costmap/global_frame" value="$(arg global_frame)"/>

    <param name="EBandPlannerROS/rotational_threshold_multiplier" value="$(arg eband_rotational_threshold_multiplier)" />
    <param name="EBandPlannerROS/disallow_hysteresis" value="$(arg eband_disallow_hysteresis)" />

    <remap from="move_base" to="$(arg move_base_server)" />
  </node>

</launch>
