<launch>

  <arg name="map_file" default="$(find utexas_gdc)/maps/real/3ne/3ne.yaml" />
  <arg name="robot_configuration" 
       default="$(find segbot_bringup)/launch/segbot_v1.launch"/>

  <include file="$(arg robot_configuration)" />

  <node name="map_server" pkg="map_server" type="map_server" 
        args="$(arg map_file)" />

  <include file="$(find segbot_navigation)/launch/amcl.launch" />
  <include file="$(find segbot_navigation)/launch/move_base_eband.launch" />
  <include file="$(find segbot_navigation)/launch/rviz.launch" />

</launch>
