scan_filter_chain:
- name: shadows
  type: ScanShadowsFilter
  params:
    min_angle: 10
    max_angle: 170
    neighbors: 1
    window: 1
- name: nan_to_inf_filter
  type: segbot_sensors/NanToInfFilter
- name: footprint_filter
  type: segbot_sensors/SegbotFootprintFilter
  params:
    footprint_frame: base_footprint
    footprint: [0.2,0.3,0.2,-0.3,-0.35,-0.25,-0.35,0.25]

