<?xml version="1.0"?>

<root
  xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="gazebo_segbot_controllers_common">
    <canonicalBody>base_footprint</canonicalBody>
    <plugin name="gazebo_ros_controller_manager" filename="libgazebo_ros_controller_manager.so">
      <alwaysOn>true</alwaysOn>
      <updateRate>5.0</updateRate>
    </plugin>
  </xacro:macro>

  <xacro:macro name="gazebo_segbot_drive_plugin" params="update_rate">
  </xacro:macro>

  <xacro:macro name="gazebo_object_controller_plugin" params="update_rate">
  </xacro:macro>

</root>
