<?xml version="1.0"?>

<root
  xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Included URDF Files -->
  <include filename="$(find segbot_description)/gazebo/common.gazebo.xacro" />

  <xacro:macro name="segbot_base_link_visual" >
    <xacro:segbot_base_link_mesh />
  </xacro:macro>

  <xacro:macro name="segbot_base_link_collision" >
    <xacro:segbot_base_link_mesh />
  </xacro:macro>

  <xacro:macro name="segbot_castor_support_link_visual" >
    <xacro:segbot_castor_support_link_mesh />
  </xacro:macro>

  <xacro:macro name="segbot_castor_support_link_collision" >
    <xacro:segbot_castor_support_link_mesh />
  </xacro:macro>

  <xacro:macro name="segbot_castor_wheel_link_visual" >
    <xacro:segbot_castor_wheel_link_mesh />
  </xacro:macro>

  <xacro:macro name="segbot_castor_wheel_link_collision" >
    <xacro:segbot_castor_wheel_link_mesh />
  </xacro:macro>

  <xacro:macro name="segbot_wheel_visual" params="suffix">
    <xacro:segbot_wheel_mesh suffix="${suffix}" />
  </xacro:macro>

  <xacro:macro name="segbot_wheel_collision" params="suffix">
    <xacro:segbot_wheel_mesh suffix="${suffix}" />
  </xacro:macro>

  <xacro:macro name="gazebo_segbot_ros_controllers">
    <gazebo>
      <xacro:gazebo_segbot_drive_plugin use_simple_model="false" update_rate="100" />
      <xacro:gazebo_segbot_controllers_common />
    </gazebo>
  </xacro:macro>

</root>

