<?xml version="1.0"?>

<root
  xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Included URDF Files -->
  <include filename="$(find segbot_description)/gazebo/common.gazebo.xacro" />

  <xacro:macro name="segbot_base_link_collision" >
    <xacro:segbot_simple_collision />
  </xacro:macro>

  <xacro:macro name="segbot_castor_support_link_collision" >
    <!-- simple model has no collision -->
  </xacro:macro>

  <xacro:macro name="segbot_castor_wheel_link_collision" >
    <!-- simple model has no collision -->
  </xacro:macro>

  <xacro:macro name="segbot_wheel_collision" params="suffix">
    <!-- simple model has no collision -->
  </xacro:macro>

  <xacro:macro name="segbot_battery_box_collision">
    <!-- simple model has no collision -->
  </xacro:macro>

  <xacro:macro name="laptop_collision">
    <!-- simple model has no collision -->
  </xacro:macro>

  <xacro:macro name="laptop_screen_collision">
    <!-- simple model has no collision -->
  </xacro:macro>

  <xacro:macro name="aluminium_sheet_collision" params="thickness length width">
    <!-- simple model has no collision -->
  </xacro:macro>

  <xacro:macro name="beam_8020_collision" params="length">
    <!-- simple model has no collision -->
  </xacro:macro>

  <xacro:macro name="standoff_632_collision" params="length">
    <!-- simple model has no collision -->
  </xacro:macro>

  <xacro:macro name="gazebo_segbot_ros_controllers">
    <gazebo>
      <xacro:gazebo_object_controller_plugin update_rate="50" />
      <!-- <xacro:gazebo_segbot_controllers_common /> -->
    </gazebo>
  </xacro:macro>

</root>

