<launch>

  <arg name="ns" default="" /> 

  <!-- launch the segway base -->
  <include file="$(find segbot_bringup)/launch/base.launch" />

  <!-- launch the appropriate urdf description, as well as the corresponding tf tree -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find segbot_description)/robots/segbot_full_kinect.urdf.xacro'" />

  <!-- launch the tf tree -->
  <node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="5.0" />
  </node>

  <!-- launch the joint state publisher to default values -->
  <!-- gazebo should publish this, but not good way of getting info on real robot for caster wheel -->
  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" />

  <!-- launch the kinect sensor (with tf) -->
  <include file="$(find segbot_sensors)/launch/kinect.launch">
    <arg name="name" value="nav_kinect" />
    <arg name="laserscan_config" value="true" />
    <arg name="ns" value="$(arg ns)" />
  </include>

  <!-- launch the kinect laserscan converter -->
  <include file="$(find segbot_sensors)/launch/kinect-laserscan.launch">
    <arg name="ns" value="$(arg ns)" />
    <arg name="camera" value="nav_kinect" />
  </include>

</launch>
