<launch>

  <arg name="tf_prefix" default="" /> 
  <arg name="name" default="laser" />
  <arg name="publish_tf" default="true" />

  <param name="tf_prefix" value="$(arg tf_prefix)" />

  <!-- construct the link from the base of the hokuyo to the laser -->
  <group if="$(arg publish_tf)">
    <include file="$(find segbot_sensors)/launch/hokuyo/hokuyo-frames.launch">
      <arg name="name" value="$(arg name)" />
    </include>
  </group>

  <!-- run the hokuyo driver with the laser link as the frame id -->
  <node name="$(arg name)_node" pkg="urg_node" type="urg_node">
    <param name="ip_address" value="192.168.0.10" />
    <param name="frame_id" value="$(arg tf_prefix)/$(arg name)_laser_link" />
  </node>
  
</launch>
