<launch>

  <arg name="tf_prefix" default="" /> 
  <arg name="name" default="laser" />
  <arg name="publish_tf" default="true" />

  <arg name="topic" default="scan" />

  <param name="tf_prefix" value="$(arg tf_prefix)" />

  <!-- construct the link from the base of the hokuyo to the laser -->
  <group if="$(arg publish_tf)">
    <include file="$(find segbot_sensors)/launch/hokuyo/hokuyo-frames.launch">
      <arg name="name" value="$(arg name)" />
    </include>
  </group>

  <!-- run the URG driver with the laser link as the frame id -->
  <node name="$(arg name)_node" pkg="urg_node" type="urg_node">
    <param name="serial_port" value="/dev/hokuyo" />
    <param name="serial_baud" value="115200" />
    <param name="frame_id" value="$(arg tf_prefix)/$(arg name)_laser_link" />
    <param name="angle_min" value="-1.309" /> <!-- -5pi/12-->
    <param name="angle_max" value="1.309" /> <!-- 5pi/12 -->
    <remap from="scan" to="$(arg topic)" />
  </node>
  
</launch>
