<launch>

  <!-- Launch the aggregator --> 
  <node pkg="diagnostic_aggregator" type="aggregator_node" name="diagnostic_aggregator" >
    <rosparam command="load" 
              file="$(find segbot_sensors)/config/diagnostics_analyzer.yaml" />
  </node>
  
  <!-- run robot monitor -->
    <node name="rqt_robot_monitor" pkg="rqt_robot_monitor" type="rqt_robot_monitor" />
</launch>
