<launch>

  <arg name="camera" default="camera" />
  <arg name="ns" default="" />
  <arg name="use_openni" default="false" />
  <arg name="laserscan_config" default="false" />
  <arg name="publish_tf" default="true" />
  <!-- Remember to construct the tf tree to $(arg ns)/$(arg camera_base_link) -->

  <group if="$(arg use_openni)">
    <include file="$(find segbot_navigation)/launch/openni.launch">
      <arg name="camera" value="$(arg camera)" />
      <arg name="ns" value="$(arg ns)" />
      <arg name="publish_tf" value="$(arg publish_tf)" />
    </include>
  </group>

  <group unless="$(arg use_openni)">
    <group if="$(arg laserscan_config)">
      <include file="$(find freenect_launch)/launch/examples/freenect-xyz.launch">
        <arg name="camera" value="$(arg camera)" />
        <arg name="ns" value="$(arg ns)" />
        <arg name="publish_tf" value="$(arg publish_tf)" />
        <arg name="enable_depth_diagnostics" value="true" />
      </include>
    </group>
    <group unless="$(arg laserscan_config)">
      <include file="$(find freenect_launch)/launch/examples/freenect-xyzrgb.launch">
        <arg name="camera" value="$(arg camera)" />
        <arg name="ns" value="$(arg ns)" />
        <arg name="publish_tf" value="$(arg publish_tf)" />
        <arg name="enable_depth_diagnostics" value="true" />
        <arg name="enable_rgb_diagnostics" value="true" />
      </include>
    </group>
  </group>

</launch>

