robot_base_frame: base_footprint
update_frequency:
publish_frequency: 1.0
inflation_radius: 1.0
obstacle_layer/footprint_clearing_enabled: false

# publish_voxel_map: true
#
# map_type: voxel
# origin_z: 0.0
# z_resolution: 0.2
# z_voxels: 10
# unknown_threshold: 10
# mark_threshold: 0

observation_sources: hokuyo_scan
hokuyo_scan: {data_type: LaserScan, topic: hokuyo/scan, marking: true, clearing: true, inf_is_valid: true, obstacle_range: 3.75, raytrace_range: 4.0} #raytrace_range must be less than max range of sensor.
