<?xml version="1.0"?>
<root xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
      xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
      xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
      xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="azure_kinect_camera" params="name parent *origin">


    <joint name="${name}_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}_link"/>
      <child link="${name}_camera_base"/>
    </joint>
    

    <material name="azure_black">
      <color rgba="0. 0. 0. 1" />
    </material>
    <material name="azure_dark_grey">
      <color rgba="0.1 0.1 0.1 1" />
    </material>
    <material name="azure_grey">
      <color rgba="0.6 0.6 0.6 1" />
    </material>
    <material name="azure_white">
      <color rgba="0.9 0.9 0.9 1" />
    </material>

    <link name="${name}_camera_body">

      <visual>
        <origin xyz="0. 0. 0." />
        <geometry>
          <box size="0.0994 0.0996 0.023" />
        </geometry>
        <material name="azure_white" />
      </visual>

    </link>
    
    <link name="${name}_camera_base">

      <inertial>
        <mass value="0.1" />
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <inertia ixx="0.01"  ixy="0.0"  ixz="0.0"
                 iyy="0.01"  iyz="0.0"
                 izz="0.01" />
      </inertial>

      <visual>
        <origin xyz="-0.013 0. 0." />
        <geometry>
          <box size="0.026 0.103 0.039" />
        </geometry>
        <material name="azure_grey" />
      </visual>

    </link>

    <link name="${name}_camera_visor">

      <visual>
        <origin xyz="-0.0128 0. 0." />
        <geometry>
          <box size="0.026 0.101 0.037" />
        </geometry>
        <material name="azure_black" />
      </visual>

    </link>

    <joint name="${name}_camera_base_to_body" type="fixed">
      <parent link="${name}_camera_base" />
      <child link="${name}_camera_body" />
      <origin xyz="-0.0757 0. 0.008" rpy="0. 0. 0." />
    </joint>

    <joint name="${name}_camera_base_to_visor" type="fixed">
      <parent link="${name}_camera_base" />
      <child link="${name}_camera_visor" />
      <origin xyz="0. 0. 0." rpy="0. 0. 0." />
    </joint>

  </xacro:macro>

</root>
