<launch>
  <group ns="test_robot">
    <arg name="ns" value="/test_robot" />
    <arg name="tf_prefix" value="/test_robot" />
    <include file="$(find segbot_sensors)/launch/kinect.launch">
      <arg name="name" value="test_kinect" />
      <arg name="ns" value="$(arg ns)" />
      <arg name="tf_prefix" value="$(arg tf_prefix)" />
    </include>
  </group>
</launch>

