<?xml version="1.0"?>

<robot name="door">

  <!-- root link, on the ground just below door origin -->
  <link name="base_footprint">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.001 0.001 0.001" />
      </geometry>
    </visual>
  </link>

  <joint name="base_link_joint" type="fixed">
    <origin xyz="0.0 0 1.0" rpy="0 0 0" />
    <parent link="base_footprint"/>
    <child link="base_link" />
  </joint>

  <!-- the door (a box) -->
  <link name="base_link">
    <inertial>
      <mass value="100" />
      <origin xyz="0 0 0" />
      <inertia ixx="1000.0" ixy="0.0" ixz="0.0"
        iyy="1000.0" iyz="0.0" 
        izz="1000.0" />
    </inertial>
    <visual>
      <geometry>
        <box size="0.3 @WIDTH@ 2.0" /> 
      </geometry>
      <material name="red" />
    </visual>
    <collision>
      <geometry>
        <box size="0.3 @WIDTH@ 2.0" /> 
      </geometry>
    </collision>
  </link>

  <gazebo reference="base_link">
    <material>Gazebo/Red</material>
  </gazebo>

</root>
