<!-- segbot_v2 base -->
<launch>

  <arg name="gui" value="true" />

  <!-- common components -->
  <include file="$(find launch_segbot_base)/launch/common.launch">
    <arg name="gui" default="$(arg gui)" />
    <arg name="move_base_config" default="segbotv2" />
  </include>

  <!-- robot base driver -->
  <include file="$(find segbot_bringup)/launch/segbot_v2.launch">
    <arg name="gui" value="$(arg gui)" />
  </include>

</launch>
