<!-- segbot_v3 base -->
<launch>

  <arg name="gui" value="true" />

  <!-- common components -->
  <include file="$(find launch_segbot_base)/launch/common.launch">
    <arg name="gui" default="$(arg gui)" />
    <arg name="move_base_config" value="segbotv3" />
  </include>

  <!-- robot base driver -->
  <include file="$(find segbot_bringup)/launch/segbot_v3.launch">
    <arg name="gui" value="$(arg gui)" />
  </include>

</launch>
