<launch>

  <arg name="name" default="camera" />
  <arg name="ns" default="" />
  <arg name="tf_prefix" default="$(arg ns)" />
  <arg name="device_id" default="#1" />
  <arg name="use_openni" default="false" />
  <arg name="depth_only" default="false" />
  <arg name="publish_tf" default="true" />

  <!-- Remember to construct the tf tree to $(arg ns)/$(arg name)_link -->

  <group if="$(arg use_openni)">
    <include file="$(find segbot_sensors)/launch/kinect/openni.launch">
      <arg name="camera" value="$(arg name)" />
      <arg name="ns" value="$(arg ns)" />
      <arg name="publish_tf" value="$(arg publish_tf)" />
      <arg name="device_id" value="$(arg device_id)" />
    </include>
  </group>

  <group unless="$(arg use_openni)">
    <group if="$(arg depth_only)">
      <include file="$(find freenect_launch)/launch/freenect.launch">
        <arg name="camera" value="$(arg name)" />
        <arg name="ns" value="$(arg ns)" />
        <arg name="tf_prefix" value="$(arg tf_prefix)" />
        <arg name="publish_tf" value="$(arg publish_tf)" />
        <arg name="enable_depth_diagnostics" value="true" />
        <arg name="processing_constellation_file"
             value="$(find freenect_launch)/launch/examples/includes/produce-xyz.launch" />
        <arg name="device_id" value="$(arg device_id)" />
      </include>
    </group>
    <group unless="$(arg depth_only)">
      <include file="$(find freenect_launch)/launch/freenect.launch">
        <arg name="camera" value="$(arg name)" />
        <arg name="ns" value="$(arg ns)" />
        <arg name="tf_prefix" value="$(arg tf_prefix)" />
        <arg name="publish_tf" value="$(arg publish_tf)" />
        <arg name="enable_depth_diagnostics" value="true" />
        <arg name="enable_rgb_diagnostics" value="true" />
        <arg name="processing_constellation_file"
             value="$(find freenect_launch)/launch/examples/includes/produce-xyzrgb.launch" />
        <arg name="depth_registration" default="true" />
        <arg name="device_id" value="$(arg device_id)" />
      </include>
    </group>
  </group>

</launch>

