<launch>

  <arg name="camera" default="camera" />
  <arg name="tf_prefix" default="" />
  <arg name="launch_manager" default="true" />
  <arg name="use_registered" default="false" />

  <arg if="$(arg use_registered)" name="image_topic" value="$(arg camera)/depth_registered/image_raw" />
  <arg unless="$(arg use_registered)" name="image_topic" value="$(arg camera)/depth/image_raw" />

  <!-- this should fully resolve to $(arg ns)/... automatically -->
  <arg name="manager" value="$(arg camera)_nodelet_manager" />
  <node if="$(arg launch_manager)" pkg="nodelet" type="nodelet"
        name="$(arg manager)" args="manager" output="screen" />

  <!-- Fake Laser from kinect pointcloud -->
  <node pkg="nodelet" type="nodelet" name="kinect_laser" 
        args="load depthimage_to_laserscan/DepthImageToLaserScanNodelet $(arg manager)" respawn="true">
    <param name="output_frame_id" value="$(arg tf_prefix)/$(arg camera)_depth_frame"/>
    <param name="range_max" value="3.0" />
    <param name="scan_height" value="50" />
    <remap from="image" to="$(arg image_topic)"/>
    <remap from="scan" to="scan_filtered" />
  </node>

</launch>

