<launch>
  <arg name="in_topic" default="scan" />
  <arg name="out_topic" default="scan_filtered" />
  <node name="kinect_laser_filters" pkg="laser_filters" type="scan_to_scan_filter_chain">
    <rosparam command="load" file="$(find segbot_sensors)/config/kinect_filters.yaml" />
    <remap from="scan" to="$(arg in_topic)" />
    <remap from="scan_filtered" to="$(arg out_topic)" />
  </node>
</launch>
