<?xml version="1.0"?>

<!-- mounting for Arduino and its attached sensors -->

<root xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find segbot_description)/urdf/components/standoff_632.urdf.xacro" />
  <xacro:include filename="$(find segbot_description)/urdf/components/aluminium_sheet.urdf.xacro" />

  <xacro:macro name="sensor_mount" params="name parent">

    <!-- add sensor mount plate and its standoffs -->
    <xacro:standoff_632 name="${name}_front_left_standoff" parent="${parent}"
                        length="${0.5*INCH_TO_M}">
      <origin xyz="${3.75*INCH_TO_M} ${4.5*INCH_TO_M} ${0.03125*INCH_TO_M}"
              rpy="0 0 0" />
    </xacro:standoff_632>
    <xacro:standoff_632 name="${name}_front_right_standoff" parent="${parent}"
                        length="${0.5*INCH_TO_M}">
      <origin xyz="${3.75*INCH_TO_M} ${-4.5*INCH_TO_M} ${0.03125*INCH_TO_M}" rpy="0 0 0" />
    </xacro:standoff_632>
    <xacro:standoff_632 name="${name}_back_left_standoff" parent="${parent}"
                        length="${0.5*INCH_TO_M}">
      <origin xyz="${1.75*INCH_TO_M} ${4.5*INCH_TO_M} ${0.03125*INCH_TO_M}" rpy="0 0 0" />
    </xacro:standoff_632>
    <xacro:standoff_632 name="${name}_back_right_standoff" parent="${parent}"
                        length="${0.5*INCH_TO_M}">
      <origin xyz="${1.75*INCH_TO_M} ${-4.5*INCH_TO_M} ${0.03125*INCH_TO_M}" rpy="0 0 0" />
    </xacro:standoff_632>
    <xacro:aluminium_sheet name="${name}_mount_plate"
                           parent="${name}_front_left_standoff" 
                           thickness="${0.0625*INCH_TO_M}"
                           length="${5.875*INCH_TO_M}"
                           width="${9.5*INCH_TO_M}">
      <origin xyz="${-(11/16)*INCH_TO_M} ${-4.5*INCH_TO_M} ${(17.0/32.0)*INCH_TO_M}"
              rpy="0 0 0" />
    </xacro:aluminium_sheet>

  </xacro:macro>

</root>


