<?xml version="1.0"?>

<robot name="segbot">

  <!-- Included URDF Files -->
  <include filename="$(find segbot_description)/urdf/common.urdf.xacro" />
  <include filename="$(find segbot_description)/urdf/gazebo_simple.xacro" />
  <include filename="$(find segbot_description)/urdf/segbot_base.xacro" />
  <include filename="$(find segbot_description)/urdf/segbot_chassis.urdf.xacro" />

  <!-- Add the segbot base -->
  <segbot />
  <segbot_chassis parent="base">
    <origin xyz="-${2*INCH_TO_M} 0 ${4.25*INCH_TO_M}"/>
  </segbot_chassis>

  <!-- Add the hokuyo -->
  <include filename="$(find segbot_description)/urdf/mounts/hokuyo_mount.urdf.xacro" />
  <hokuyo_mount name="nav_hokuyo" parent="front_right_vertical_beam" length="${10.75*INCH_TO_M}" ros_topic="scan" update_rate="10" min_angle="${-M_PI/2}" max_angle="${M_PI/2}">
    <origin xyz="0 ${0.5*INCH_TO_M} ${4*INCH_TO_M}" rpy="-${M_PI/2} -${M_PI/2} 0" />
  </hokuyo_mount>

</robot>
