<?xml version="1.0"?>

<robot name="segbot">

  <!-- Included URDF Files -->
  <include filename="$(find segbot_description)/urdf/gazebo.xacro" />
  <include filename="$(find segbot_description)/urdf/segbot_base.xacro" />
  <property name="M_PI" value="3.14159"/>
  <property name="SCALE" value="0.0254"/>

  <!-- Add the segbot base -->
  <segbot />

  <!-- Add the forward facing kinect sensor for navigation -->
  <include filename="$(find segbot_description)/urdf/sensors/kinect_camera.urdf.xacro" />
  <kinect_camera name="nav_kinect" parent="base_link">
    <origin xyz="0 0 0.3" rpy="0 0 0" />
  </kinect_camera>

</robot>
